.main__detail {
    margin: 40px 350px;
}

.detail__hot-title h3 {
    text-align: center;
    color: var(--color-violet);
    padding-bottom:10px;
}

.group__detail {
    background-color: var(--color-white);
    padding: 20px;
    border-radius: 20px;
}

.group__detail img {
    max-width: 924px;
}

.text__title a {
    text-decoration: none;
    color: var(--color-black);
}

.text__title h6 {
    font-size: 24px;
    font-weight: 500px;
    margin-bottom: 10px;
}

.text__content--min p a {
    text-decoration: none;
    color: var(--color-black);
    font-size: 15px;
    font-weight: bold;
}

.text__content--min p {
    font-size: 15px;
    font-weight: 500px;
}

.item {
    margin: 10px 0;
}

.item p a {
    text-decoration: none;
    color: var(--color-red);
    font-size: 18px;
}

.item img {
    width: 620px;
    margin-left: 8px;
    height: 320px;
}

.detail__hot {
    background-color: var(--color-white);
    padding: 20px;
    border-radius: 20px;
}

.detail__product {
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid rgb(236, 231, 231);
}

.detail__product:last-child {
    border-bottom: none;
}

.detail__product--image img {
    width: 110px;
    height: 80px;
}

.detail__product--text {
    margin-left: 15px;
}

.detail__product--text a {
    text-decoration: none;
    color: var(--color-black);
}

.detail__product--text a:hover {
    color: var(--color-violet);
}