.main__content {
    margin: 0 350px;
}

.filter__group {
    border: 1px solid #b597c0;
    border-radius: 5px;
}


.horizontals-scroll {
    height: 420px;
    overflow-y: scroll;
    border-radius: 5px;
}

.title__head {
    text-align: center;
    background-color: #5e75b9;
    color: var(--color-white);
    padding: 15px 0;
}

.floating__enabled {
    margin-top: 30px;
    border: 1px solid #b597c0;
    margin-bottom: 30px;
    border-radius: 5px;
}

.item__product {
    display:flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: var(--color-white);
    border-bottom:1px solid rgb(194, 179, 179);
}

.item__product:last-child {
    border-bottom: none;
}

.item__avatar {
    flex-basis: 35%;
}

.item__avatar img {
    width: 90%;
    border-radius: 10px;
    border: 1px solid rgb(194, 179, 179);
}

.item__introduction {
    flex-basis: 57%;
    font-weight: 500;
    font-size:18px;
}

.content__intro {
    display:flex;
    justify-content: space-between;
}

.side__left {
    flex-basis: 25%;
}

.side__right {
    flex-basis: 73%;
}

.aside__content {
    padding: 10px 50px;
    font-size: 20px;
    font-size:400;
    border-radius: 5px;
    background-color: var(--color-white);
}


.tray__titles {
    margin: 28px 0;
    font-weight: 700;
}

.tray__titles h6 {
    font-weight: 700;
}

.info-family {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.tray__items {
    flex-basis: 48%;
    background-color: var(--color-white);
    border-radius: 5px;
    border: 1px solid rgb(212, 202, 202);
    text-align: center;
    margin-bottom: 35px;
}


.tray__image {
    padding: 10px;
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

.router {
    border-radius: 5px;
    padding: 8px;
    margin: 10px 10px;
    border: 1px solid #f3f0f0;
}


.tray__items img {
    width: 110px;
    height: 110px;
    border-radius: 5px;
}

.tray__price {
    display: flex;
    justify-content: center;
}

.tray__price h5 {
    color: #fefefe;
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 15px;
    background-color:#696bad;
    width:150px;
    padding:3px;
}
