.form__product {
    margin: 130px 50px;
    display: flex;
    justify-content: center;
    align-items: center;


    .input__news {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .item {
        flex-basis: 24%;
        margin-bottom: 32px;
    }

    .input__control {
        padding: 16px;
    }

    .group {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .item__images {
        flex-basis: 100%;
    }

    .add__fields  {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1100px;
        margin-bottom: 20px;
    }

    .ingredient {
        flex-basis: 47%;
    }

    .quantity {
        flex-basis: 10%;
    }

    .unit {
        flex-basis: 10%;
    }

    .note {
        flex-basis: 26%;
    }

    .delete-input {
        text-align: center;
        flex-basis: 5%;
        color:red;
        font-size:30px;
    }

    .btn__danger {
        padding: 10px;
    }

}